<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497605601562-5th7vhuu16bsap68hucpnhjsjic8ljm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497605601562-5th7vhuu16bsap68hucpnhjsjic8ljm9</string>
	<key>API_KEY</key>
	<string>AIzaSyAn26VSvQtJww9fibBsEhe8l509JPbj5q4</string>
	<key>GCM_SENDER_ID</key>
	<string>497605601562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aseibel.shrdded-rowdyhacks</string>
	<key>PROJECT_ID</key>
	<string>shrdded-rowdyhacks</string>
	<key>STORAGE_BUCKET</key>
	<string>shrdded-rowdyhacks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497605601562:ios:5e05be242d6f07b8e1e4a3</string>
</dict>
</plist>